// copied from https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/.vuepress/styles/index.styl

pre.tree-container
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #eee !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light
